/* HEADER */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.main-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.border {
    width: 60%;
    border-bottom: 1px solid var(--brand-1-hover);
    margin-bottom: 11px;
}

.nav-links {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    text-decoration: none;
    font-size: 0.75rem;
    gap: 14px;
}

.nav-item {
    text-decoration: none;
    color: var(--black);
}

/* MAIN */
/* SUA ÁREA */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100%;
}

.dados-form {
    background-color: var(--brand-light);
    border-radius: 140px 8px 8px 8px;
    padding: 30px 30px 35px 87px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 32px;
    width: 90%;
}

.user-photo {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
}

.user-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.form-att-dados {
    display: flex;
    flex-direction: column;
    margin-left: 11px;
    gap: 25px;
}

.form-att-dados div {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.form-att-dados div h3 {
    font-size: 0.87rem;
    font-weight: bold;
}

.form-att-dados div p {
    font-size: 0.75rem;
    font-weight: 400;
    padding: 15px 14px;
    border: 1px solid var(--brand-1);
    border-radius: 16px;
}

.form-att-dados button {
    padding: 11px;
    border-radius: 16px;
    border: 1px solid var(--black);
    background-color: transparent;
    width: 50%;
    align-self: flex-end;
}

.form-att-dados button:hover {
    cursor: pointer;
    background-color: var(--grey-3);
}

/* AGENDAR CONSULTA */

.agendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 90%;
}

.agendar h2 {
    margin-bottom: -35px;
}

.border-agendar {
    width: 60%;
}

.agendar-form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 80%;
}

.agendar-form div {
    gap: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.agendar-form div label {
    font-size: 0.87rem;
    font-weight: bold;
}

.agendar-form div select,
.agendar-form div input {
    padding: 16px 20px;
    box-sizing: border-box;
    background-color: var(--grey-3);
    border: none;
    border-radius: 16px;
}

.button-form-agendar {
    padding: 12px;
    border: none;
    border-radius: 16px;
    background-color: var(--brand-1);
    color: var(--white);
    font-size: 0.87rem;
    font-weight: bolder;
}

.button-form-agendar:hover {
    cursor: pointer;
    background-color: var(--brand-1-hover);
}


/* MEUS HORÁRIOS */

.horarios-agendados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 90%;
}

.border-horarios {
    margin-top: -25px;
    width: 60%;
}

.horarios-wrapper {
    width: 100vw;
    padding: 90px 32px;
    background-color: var(--brand-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* BLOG */

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 90%;
}

.border-blog {
    margin-top: -20px;
    width: 60%;
}

.video-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.video-card {
    width: 90%;
    gap: 20px;
}

/* KEYFRAMES */

@media screen and (min-width: 768px) {
    .dados-form {
        max-width: 80%;
    }

    .agendar-form{
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .dados-form {
        max-width: 70%;
    }

    .agendar-form{
        width: 40%;
    }

    .horarios-wrapper {
        padding: 150px 32px;
    }

    .form-att-dados div h3{
        font-size: 1.2rem;
    }

    .form-att-dados div p{
        font-size: 1rem;
    }

    .form-att-dados button{
        font-size: 1rem;
    }

    .nav-links{
        font-size: 1.2rem;
        gap: 32px;
        margin-bottom: 20px;
    }

    .user-photo{
        width: 150px;
        height: 150px;
    }

    .user-photo img{
        border-radius: 100px;
    }

    .dados-form{
        padding-left: 200px;
    } 

    .form-att-dados{
        width: 90%;
    }

    .agendar p{
        font-size: 1.2rem;
    }

    .agendar-form div label{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1440px) {
    .dados-form {
        max-width: 55%;
    }

    .agendar-form{
        width: 40%;
    }

    .horarios-wrapper {
        padding: 150px 32px;
    }

    .form-att-dados div h3{
        font-size: 1.2rem;
    }

    .form-att-dados div p{
        font-size: 1rem;
    }

    .form-att-dados button{
        font-size: 1rem;
    }

    .nav-links{
        font-size: 1.2rem;
        gap: 32px;
        margin-bottom: 20px;
    }

    .user-photo{
        width: 150px;
        height: 150px;
    }

    .user-photo img{
        border-radius: 100px;
    }

    .dados-form{
        padding-left: 200px;
    } 

    .form-att-dados{
        width: 90%;
    }

    .agendar p{
        font-size: 1.2rem;
    }

    .agendar-form div label{
        font-size: 1.2rem;
    }

    .agendar-form div select, .agendar-form div input{
        font-size: 1rem;
    }

    .button-form-agendar{
        font-size: 1.2rem;;
    }
}