:root{

    --brand-1: #02CA74;
    --brand-light: #DEF3EA;
    --brand-light-2: #BAE1CF;
    --brand-1-hover: #325446;
    
    --grey-1: #212529;
    --grey-3: #DEE2E6;
    --grey-5: #F8F9FA;
    --black: #0A0C0D;
    --off-white: #efefef;
    --white: #DEE2E6;
}


::-webkit-scrollbar{
    width: 0.8rem;
    background-color: var(--white);
}
::-webkit-scrollbar-thumb{
    background-color: var(--brand-1);
}

::-webkit-scrollbar-button{
    display: none;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: var(--off-white);
    width: 100vw;
    overflow-x: hidden;
}

main{
    overflow: hidden;
    width: 100%;
}

.footer{
    margin-top: 2rem;
    height: 8vh;
    background-color: var(--brand-1-hover);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a{
    text-decoration: none;
    cursor: pointer;

    color: var(--white);

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer a i{
    font-size: 1.3rem;
}