body, main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    overflow-x: hidden;
}

h2{
    font-weight: 800;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.top-header{
    width: 80%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    width: 80%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.nav-item{
    text-decoration: none;
    padding: 4px 8px;
    border: 1px solid var(--brand-1);
    border-radius: 4px;
    color: var(--grey-1);
    cursor: pointer;
    font-weight: 600;
    font-size: 0.6rem;
}

.nav-item:hover{
    border: 2px solid var(--brand-1-hover);
}

.hero-explain{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hero-img{
    margin-top: 2rem;
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.hero-img img{
    height: 100%;
}

.hero-text{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.hero-text h1{
    font-size: 1.3rem;
    margin-top: 2.25rem;
    font-weight: bolder;
}

.hero-text p{
    width: 100%;
    font-size: 0.75rem;
    margin-top: 12px;
}

.anchor{
    align-self: flex-start;
    text-decoration: none;
    margin-top: 26px;
    padding: 7px 16px;
    background-color: var(--brand-1);
    color: var(--white);
    border-radius: 12px;
    font-weight: 700;
    margin-left: 10%;
}

.anchor:hover{
    background-color: var(--brand-1-hover);
    cursor: pointer;
}

.equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.6rem;
}

.team-card{
    width: 80%;
    background-color: var(--brand-light);
    border-radius: 146px 8px 8px 8px;

}

.team-card-title{
    display: flex;
    align-items: center;
    gap: 35px;
}

.team-msg{
    padding: 23px 21px 23px 61px;
}

.team-card-reverse{
    border-radius: 8px 146px 8px 8px;
}

.team-card-reverse .team-card-title{
    flex-direction: row-reverse;
}

.services{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-wrapper{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
}

.service-card{
    /* margin-top: 3.6rem; */
    background-color: var(--brand-light);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 24px;
    border-radius: 4px;
}

.service-card-header{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 7px;
}

.service-card-icon i, .service-card-icon span{
    border:1px solid var(--brand-1);
    font-size: 35px;
    padding: 5px;
    border-radius: 12px;
}

.service-card-desc{
    margin-top: 2rem;
}

.service-card-bttn{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-card-bttn>a:hover{
    background-color: var(--brand-1-hover);
}

.service-card-bttn a{
    text-decoration: none;
    color: var(--off-white);
    width: 100%;
    padding: 7px 0;
    background-color: var(--brand-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

}

/* CARDS DEPOIMENTOS */

.depoimentos{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.card-depoimento-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
}

.card{
    width: 100%;
    background-color: var(--brand-light);
    display: flex;
    flex-direction: row;
    padding: 35px 0 35px 28px;
    gap: 25px;
    border: none;
    position: relative;
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20%;
}

.card-foto{
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    position: absolute;
    right: -30px;
    
}

.card-foto img{
    border: 0.5px solid var(--brand-1-hover);
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.segundo-card{
    padding-left: 20%;
}

.segundo-card .card-foto{
    left: -30px;
}


/* MODAL */

.review-modal{
    background-color: var(--brand-light);
    border-radius: 25px;
}

.review-modal h1{
    font-weight: 700;
}

.review-modal input, .review-modal textarea{
    border: 0;
    outline: 0;
    background-color: var(--brand-light-2);
    border-radius: 25px;
    padding: 1rem;
}

.modal-btn{
    background-color: var(--brand-1);
    border: 0;
    padding: 1rem 2rem;
    border-radius: 25px;
}

.modal-btn:hover{
    background-color: var(--brand-1-hover);
    border: 0;
}

.review-sucesso{
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 1px 1px 10px black;
    background-color: #198754;
    display: none;
}

.show {
    display: block;
    animation: fadeInOut 3s ease-out;
}


/* LOCALIZAÇÃO */

.localização{
    width: 80%;
    min-height: 240px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.container-localizacao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 90%;
}

.info-localizacao{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
    width: 50%;
    background-color: var(--brand-1-hover);
    padding: 20px;
    min-height: 240px;
}

.titulo-localizacao{
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--white);
}

.p-localizacao{
    font-weight: 300;
    font-size: 0.6rem;
    color: var(--white);
}

.button-localizacao{
    background-color: var(--brand-1);
    font-weight: bold;
    font-size: 0.6rem;
    color: var(--white);
    padding: 5px 14px;
    box-sizing: border-box;
    border-radius: 16px;
    border: none;
    height: 40px;
}

.button-localizacao:hover{
    background-color: var(--brand-1-hover);
    border: 1px solid var(--brand-1);
    cursor: pointer;
}

.button-localizacao>a{
    text-decoration: none;
    color: var(--white);
}

.mapa-localizacao{
    width: 50%;
    min-height: 240px;
}

.iframe-mapa{
    width: 100%;
    min-height: 240px;
}


@media screen and (min-width: 768px) {

    .services, .depoimentos{
        width: 60%;
    }

    .info-localizacao{
        width: 30%;
    }

    nav{
        width: 70%;
    }

    .nav-item{
        font-size: 0.8rem;
    }

    .mainHeader{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .hero-img{
        transition: transform 10s ease;
    }

    .hero-img:hover{
        animation: zoom-image 1s alternate;
    }
    
    .card-text{
        padding-right: 18%;
    }
    
    .card-foto{
        width: 80px;
        height: 80px;
        right: -40px;
    }
    
    .segundo-card{
        padding-left: 18%;
    }
    
    .segundo-card .card-foto{
        left: -40px;
    }

    .info-localizacao{
        justify-content: center;
        align-items: center;
        min-height: 245px;
    }

    @keyframes zoom-image{
        from{
            transform: scale(1);
        }
        to{
            transform: scale(1.1);
        }
    }
    
}

@media screen and (min-width: 1024px) {

    .services{
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .services>h2{
        align-self: center;
    }

    .cards-wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .service-card{
        min-width: 235px;;
        min-height: 324px;
        justify-content: space-between;
    }

    .depoimentos{
        width: 60%;
    }

    .modal-toggle-btn{
        padding: 1rem 0;
        width: 60%;
    }

    .info-localizacao{
        width: 30%;
        padding: 40px 40px;
    }

    nav{
        width: 50%;
        margin-bottom: 50px;
    }

    .nav-item{
        font-size: 1rem;
    }

    .mainHeader{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        max-width: 80%;
    }

    h2{
        border-bottom: 1px solid var(--brand-1-hover);
        padding-bottom: 10px;
    }

    .hero-img{
        transition: transform 1s ease;
    }
    .hero-img>img{
        margin-right: -90px;
        width: 480px;
        height: 320px;
    }

    .hero-img:hover{
        animation: zoom-image 5s;
    }

    .card-text{
        padding-right: 12%;
    }
    
    .card-foto{
        width: 100px;
        height: 100px;
        right: -50px;
    }
    
    .segundo-card{
        padding-left: 12%;
    }
    
    .segundo-card .card-foto{
        left: -50px;
    }

    .info-localizacao{
        justify-content: center;
        align-items: center;
        padding: 0px;
        padding-inline-start: 15px;
    }

    .info-localizacao p{
        width: 70%;
    }

    .button-localizacao{
        width: 80%;
        font-size: 0.8rem;
    }

    @keyframes zoom-image{
        from{
            transform: scale(1);
        }
        to{
            transform: scale(1.2);
        }
    } 

}

@media screen and (min-width: 1440px) {

    .services{
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .services>h2{
        align-self: center;
    }

    .cards-wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .service-card{
        min-width: 235px;;
        min-height: 324px;
        justify-content: space-between;
    }

    .depoimentos{
        width: 60%;
    }

    .info-localizacao{
        width: 30%;
        padding: 40px 50px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    nav{
        width: 40%;
        margin-bottom: 50px;
    }

    .nav-item{
        font-size: 18px;
    }

    .nav-item>ul:hover{
        cursor: pointer;
    }

    .mainHeader{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        max-width: 80%;
        padding-top: 90px;
        padding-bottom: 90px;
    }

    h2{
        border-bottom: 1px solid var(--brand-1-hover);
        padding-bottom: 10px;
        font-size: 36px;
    }

    .hero-img{
        transition: transform 1s ease;
    }
    .hero-img>img{
        margin-right: -90px;
        width: 520px;
        height: 350px;
    }

    .hero-img:hover{
        animation: zoom-image 5s;
    }

    .hero-text>h1{
        font-size: 36px;
    }

    .hero-text>p{
        font-size: 22px;
    }

    .anchor{
        width: 267px;
        height: 52px;
        text-align: center;
        font-size: 22px;
        padding-top: 10px;
    }

    .team-name>em{
        font-size: 30px;
    }

    .team-msg>strong{
        font-size: 32px;
    }

    h3{
        font-size: 24px;
    }

    .service-card-desc>p{
        font-size: 22px;
    }

    .depoimento>p, .autor>span>em{
        font-size: 22px;
    }

    .info-localizacao{
        padding-inline-start: 7%;
    }

    .card-text{
        padding-right: 12%;
    }
    
    .card-foto{
        width: 140px;
        height: 140px;
        right: -70px;
    }
    
    .segundo-card{
        padding-left: 12%;
    }
    
    .segundo-card .card-foto{
        left: -70px;
    }

    @keyframes zoom-image{
        from{
            transform: scale(1);
        }
        to{
            transform: scale(1.2);
        }
    } 

}




